---
---

* { box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  
  background-color: #FFF;

  font-size: 14px;
  font-family: Lato, sans-serif; 

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 20px 0;

  font-weight: 900;
  font-size: 44px;
  letter-spacing: -2px;
  line-height: 40px;
}

h4 {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  margin-bottom: 40px;

  line-height: 1.6;
}

a {

  color: #263DD8;
  font-weight: bold;
  cursor: pointer;

  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

a:hover {
  // color: #8DCCF1;
  color: #222;

}

ul {
  list-style-type: circle;
}

li {
  margin-bottom: 10px;
}

/* ---- sidebar ---- */

.sidebar {
  position: fixed;
  z-index: 501;
  top: 0;
  left: 0;

  width: 20%;
  height: 100vh;
  
  -webkit-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}


.sidebar-content {
  position: fixed;
  left: 0;
  top: 15px;

  height: auto;
  padding-left: 40px;
}

@media screen and (max-width: 699px) {

  .sidebar-content {
     padding-left: 20px;
  }

}

.sidebar-tag-list {
  margin-top: 22px;
  margin-left: 10px;
}

.sidebar-title {
  margin-bottom: 60px;
  margin-left: 10px;
}

.sidebar-title h1,
.sidebar-title h4 {
  margin: 0;
}

.sidebar-title h1 {
  width: 120px;
  margin: 0;
}

.sidebar h4 { 
  padding-top: 10px;

  color: #999;
}

.sidebar ul, 
.sidebar li {
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-transition: all .75s ease-in-out;
  -o-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out;
}


.sidebar-notice {
  position: fixed;
  bottom: 85px;
  margin-top: 100px;
  width: 82px;
  padding-left: 10px;
  opacity: .35;
  
  -webkit-transition: all .75s ease-in-out;
  -o-transition: all .75s ease-in-out;
  transition: all .75s ease-in-out;

  &:hover {
    opacity: 1;
  }
  p, a {
    font-size: 10px;
    // 
  } 
}

.sidebar-title a {
  position: fixed;
  bottom: 40px;

  text-decoration: none;
}

.sidebar-title a * {
  display: block;

  -webkit-transition: all .27s ease-in-out;
  -o-transition: all .27s ease-in-out;
  transition: all .27s ease-in-out;
}

.sidebar-title a h1 {
  position: relative;
  top: 36px;
  color: #111;
  opacity: 0.0;

  -webkit-transform: translateX(0px),;
  -o-transform: translateX(0px),;
  transform: translateX(0px),;
}

.sidebar-title a:hover h1 {
  opacity: 1;
  -webkit-transform: translateX(44px);
  -o-transform: translateX(44px);
  transform: translateX(44px);
}

.sidebar-title-image {
  position: relative;
  top: 0px;

  width: 38px;

  transition: all .9s ease-in-out;
}

.sidebar-title a:hover .sidebar-title-image {
    -webkit-animation-delay: -1s; /* Chrome, Safari, Opera */
    animation-delay: -1s;

  transform: rotate(9deg);
}



.sidebar-title {
  z-index: 1000;

}

.sidebar-title a:hover  {
  color: #555;
}

.sidebar li {
  margin: 14px 0;

  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.sidebar a {
  -webkit-transition: all .27s ease-in-out;
  -o-transition: all .27s ease-in-out;
  transition: all .27s ease-in-out;
}

.sidebar li a {
  display: block;

  // color: #263DD8;

  &:hover {
    // color: #555;

    // text-decoration: none;

    transform: translateX(4px);
  }

}

.sidebar li.home-link {
  margin-top: 50px;
   &::before {
    content: "◀";
   }
}



.sidebar li a.active,
.sidebar li.home-link {
 	margin-left: 22px;

  color: #222;

	&:hover  {
	  transform: translateX(0px);
	}

	&:before {
	  content: "▶";

	  position: absolute;
	 
    color: #222;
	  
    font-size: 8px;
    font-weight: bold;

    opacity: 1;
	  
    -webkit-transform: translateX(-20px) translateY(2px);
    -o-transform: translateX(-20px) translateY(2px);
    transform: translateX(-20px) translateY(2px);
	}

}

.sidebar li.home-link {
  margin-top: 50px;
  margin-left: 0;
  opacity: 1;
   &::before {
    content: "◀";
   }

   transition: all .25s ease-in;
}

.sidebar li.home-link.hidden {
  opacity: 0;
}


/* --- content --- */

.content {
  position: relative;
  z-index: 500;
  float: left;

  width: 85%;
  margin: 0;
  margin-left: 15%;
}

/* --- article --- */

.article {
  width: 75%;
  margin: 20px auto;
}

.featured-img {
  width: 100%;
  
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

/* ---- grid ---- */

.grid {
  max-width: 1800px;
  margin: 20px auto;
}

/* clearfix */
.grid:after {
  content: '';

  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  position: relative;
  float: left;

  width: 240px;
  min-height: 10px;
  margin: 20px auto;
  
  background-color: #384C59;
  opacity: 0;

  -webkit-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);

  -webkit-transition: opacity 1s, transform .3s;
  -o-transition: opacity 1s, transform .3s;
  transition: opacity 1s, transform .3s;
}

.grid-item.visible {
  opacity: 1;

  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.grid-item img {
  position: relative;
  z-index:100;

  max-width: 100%;
  margin-bottom: -5px;
  
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
}

.grid-item:hover img {
  -webkit-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);

  box-shadow: 0px 0px 50px rgba(24, 26, 33, 0.17);
}



.grid-item-caption {
  position: absolute;
  font-style: italic;
  bottom: -55px;
  z-index:90;

  height: 30px;
  
  color: #999;
  opacity: 0.25;

  font-size: 9px;
  letter-spacing: 1px;
  
  -webkit-transform: translateY(-15px);
  -o-transform: translateY(-15px);
  transform: translateY(-15px);

  -webkit-transition: opacity .35s, transform .2s;
  -o-transition: opacity .35s, transform .2s;
  transition: opacity .35s, transform .2s;
}

.grid-item:hover .grid-item-caption {
  opacity: 1;

  -webkit-transform: translateY(22px);
  -o-transform: translateY(22px);
  transform: translateY(22px);
}
