---
---

* { box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

 font-family: Lato, sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #3A3746;
}

body { 
  font-size: 14px;
  color: #24222B;
}

h1 {
  font-weight: 900;
  font-size: 72px;
  letter-spacing: -2px;
  margin: 20px 0;
  line-height: 72px;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
}

p {
  line-height: 1.6;
  margin-bottom: 40px;
}

a {
  color: #5D9CC1;
  cursor: pointer;
  
  text-decoration: none;
      -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

a:hover {
  color: #8DCCF1;
  text-decoration: none;
}

ul {
  list-style-type: circle;
}

li {
  margin-bottom: 10px;
}



/* ---- sidebar ---- */

.sidebar {
  width: 15%;
  float: left;
  height: 100vh;
  z-index: 501;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateZ(0);

}

.sidebar-title h1,
.sidebar-title h4 {
  margin: 0;
}

.sidebar-title h1 {
  
}

.sidebar ul, 
.sidebar li {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all .75s ease-in-out;
}


.sidebar-title a {
  text-decoration: none;
  display: block;
  color: #43404D;
}

.sidebar-title {
  margin-top: 36px;
  z-index: 1000;
}

.sidebar-title a:hover  {
  color: #504d5c;
}

@media screen and (max-width: 699px) {
  .sidebar {
  } 
}

.sidebar-content {
  position: fixed;
  left: 0;
  bottom: 40px;
  height: auto;
  padding-left: 40px;
}

@media screen and (max-width: 699px) {
  .sidebar-content {
     padding-left: 20px;
  } 
}



@media screen and (max-width: 699px) {

}




.sidebar li {
  margin: 12px 0;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

.sidebar a {
  color: inherit;
    -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}


.sidebar li a {
  color: #dedede;
 /*color: #EFdbc9;*/
  text-decoration: none;
}

.sidebar li a:hover  {
  color: #E6E6E6;
  /*text-decoration: underline;*/
}

/*.sidebar li a#interface { color: #71AE9C; }
.sidebar li a#color { color: #5D9CC1; }
.sidebar li a#process { color: #7EB983; }
.sidebar li a#tools { color: #7D6E9E; }
.sidebar li a#hardware { color: #D8BD61; }
.sidebar li a#bikes { color: #B7685C; }*/

.sidebar li a {
  /*color: #050505;*/

/*  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;*/
}

.sidebar li:nth-child(1) a:hover { color: #71AE9C; }
.sidebar li:nth-child(2) a:hover { color: #5D9CC1; }
.sidebar li:nth-child(3) a:hover { color: #7EB983; }
.sidebar li:nth-child(4) a:hover { color: #7D6E9E; }
.sidebar li:nth-child(5) a:hover { color: #D8BD61; }
.sidebar li:nth-child(6) a:hover { color: #B7685C; }
.sidebar li:nth-child(7) a:hover { color: #71AE9C; }
.sidebar li:nth-child(8) a:hover { color: #5D9CC1; }
.sidebar li:nth-child(9) a:hover { color: #7EB983; }
.sidebar li:nth-child(10) a:hover { color: #7D6E9E; }
.sidebar li:nth-child(11) a:hover { color: #D8BD61; }
.sidebar li:nth-child(12) a:hover { color: #B7685C; }



.sidebar li a.active {
 	margin-left: 18px;

	&:hover  {
	  text-decoration: none;
	}

	&:before {
	  content: "•";
	  position: absolute;
	  font-weight: bold;
	  font-size: 14px;
	  transform: translateX(-17px) translateY(-2px);
	}
}


.sidebar-title h1 {
  margin-left: -5px;
}



/* --- content --- */

.content {
  width: 85%;
  position: relative;
  float: left;
  z-index: 500;
  margin: 44px 0;
  margin-left: 15%;
}

/* --- article --- */

.article {
  color: #dedede;
  width: 75%;
  margin: 20px auto;
}

.featured-img {
  width: 100%;
      -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}


/* ---- grid ---- */

.grid {

  max-width: 1800px;
  margin:0 auto;
}

@media screen and (max-width: 699px) {
  
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 240px;
  min-height: 10px;
  float: left;
  margin: 20px auto;
  position: relative;
  background-color: #384C59;
  opacity: 0;
  transform: translateY(20px);
  -webkit-transition: opacity 1s, transform .3s;
  -o-transition: opacity 1s, transform .3s;
  transition: opacity 1s, transform .3s;
}



.grid-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.grid-item img {
  position: relative;
  max-width: 100%;
  margin-bottom: -5px;
  z-index:100;
    -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
}

.grid-item:hover img {
  transform: scale(1.01);
  box-shadow: 0px 0px 50px rgba(24, 26, 33, 1);
}



.grid-item-caption {
  position: absolute;
  bottom: -55px;
  height: 30px;
  font-size: 10px;
  letter-spacing: 1px;
  color: #fff;
  z-index:90;
  opacity: 0.25;
  transform: translateY(-15px);
  -webkit-transition: opacity .35s, transform .2s;
  -o-transition: opacity .35s, transform .2s;
  transition: opacity .35s, transform .2s;
}

.grid-item:hover {
}

.grid-item:hover .grid-item-caption {
  opacity: 1;
  transform: translateY(22px);
}




