
<div class="grid">
{% for post in site.posts %}
{% if post.tags contains page.tag %}
  <div class="grid-item" style="background-color:#{{post.color}}">
    <a href="{{ site.baseurl | append: post.url }}">
    {% if post.img %}
    	{% assign sans_extension = post.img | split: "." %}
    	{% assign new_extension = sans_extension[0] | append: "_480x.jpg" %}
    	<img class="" src={{ "../../img/post/thumbs/" | append: new_extension }} alt="{{post.title}}">
    {% endif %}
      <p class="grid-item-caption" >{{post.title}}<span>{{ post.date| date: "%m-%d-%y" }}</span></p>
    </a>
  </div>
{% endif %}
{% endfor %}
</div> 