* { box-sizing: border-box; }


body { 
  font-family: Helvectica, sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #2F414D;
background: -moz-linear-gradient(45deg, #2f414d 0%, #3c5e68 100%); 
background: -webkit-linear-gradient(45deg, #2f414d 0%,#3c5e68 100%); 
background: linear-gradient(45deg, #2f414d 0%,#3c5e68 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f414d', endColorstr='#3c5e68',GradientType=1 );
}

h1 {
  font-size: 96px;
  letter-spacing: -4px;
  margin: 30px 0 20px 0;
  color: #fff;
  opacity: 0.025;
}

h4 {
  text-transform: uppercase;
  color: #666666;
  letter-spacing: 2px;
  font-size: 7px;
  margin: 20px 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}