

/* ---- sidebar ---- */

.sidebar {
  width: 15%;
  float: left;
  height: 100vh;
}

@media screen and (max-width: 699px) {
  .sidebar {
  } 
}

.sidebar-content {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-left: 40px;
}

@media screen and (max-width: 699px) {
  .sidebar-content {
     padding-left: 20px;
  } 
}

.sidebar-logo {
  position: fixed;
  top: 30px;
  left: 50px;
  width: 50px;
  color: #fff;
}

@media screen and (max-width: 699px) {
  .sidebar-logo {
    left: 35px;
  } 
}

.sidebar-logo img {
  position: absolute;
  top: 4px;
  left: -19px;
  width: 100%;
}

.sidebar-logo img:hover {
    -webkit-transform: rotate(360deg);
    -webkit-transition-duration: 1.25s;
    -webkit-transition-delay: now;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
}

.sidebar li {
  margin: 15px 0;
  font-size: 12px;
  letter-spacing: 1px;
}

.sidebar a {
  color: #fff;
    -webkit-transition: transform .35s;
  -o-transition: ttransform .35s;
  transition: transform .35s;
}


.sidebar li a {
  color: #fff;
  text-decoration: none;
}

.sidebar li a:hover  {
  text-decoration: underline;
}

.sidebar li a.interface { color: #71AE9C; }
.sidebar li a.color { color: #5D9CC1; }
.sidebar li a.process { color: #7EB983; }
.sidebar li a.tools { color: #7D6E9E; }
.sidebar li a.hardware { color: #D8BD61; }
.sidebar li a.bikes { color: #B7685C; }



.sidebar li a.active{
  margin-left: 10px ;
}

.sidebar li a.active:hover  {
  text-decoration: none;
}

.sidebar li a.active:before {
  content: "•";
  position: absolute;

  font-weight: bold;
  font-size: 20px;
  transform: translateX(-11px) translateY(-4px);
}


/* --- content --- */

.content {
  width: 85%;
  position: relative;
  float: left;
}

/* ---- grid ---- */

.grid {
  max-width: 1800px;
  margin:0 auto;
}

@media screen and (max-width: 699px) {
  
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 240px;
  height: 120px;
  float: left;
  margin: 20px auto;
  position: relative;
  background-color: #384C59;
  opacity: 0;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
}



.grid-item.visible {
  opacity: 1;
}

.grid-item img {

}



.grid-item-caption {
  position: absolute;
  bottom: -55px;
  height: 40px;
  font-size: 9px;
  letter-spacing: 1px;
  color: #fff;
  opacity: 0.25;
  -webkit-transition: opacity .35s;
  -o-transition: opacity .35s;
  transition: opacity .35s;
}

.grid-item:hover {
}

.grid-item:hover .grid-item-caption {
  opacity: 1;
}

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }
